.elgg-page-topbar .elgg-nav-search {
	flex-grow: 1;
	
	.elgg-menu-search-type-selection-container {
		position: absolute;
		top: 0.5rem;
		right: 50px;
		
		.elgg-menu:not(.elgg-child-menu) > li > a {
			padding-top: 0;
			padding-bottom: 0;
			line-height: 2.5rem;
		}
		
		.elgg-menu li {
			.elgg-child-menu {
				top: 2.5rem;
			}
			
			&:hover > .elgg-child-menu:before {
				margin-right: 1rem;
			}
		}
	}
}

.elgg-menu-filter-search-alt {
	justify-content: flex-end;
}

.search-advanced-autocomplete-placeholder {	
	> label {
		display: flex;
		cursor: pointer;
		justify-content: space-between;
		
		.elgg-icon {
			margin-right: 0.5rem;
		}
		
		> div {
			white-space: nowrap;
			overflow: hidden;
			
			&:last-child {
				margin-left: 0.5rem;
				text-overflow: ellipsis;
			}
		}
	}	
}

.search-autocomplete {
	.elgg-autocomplete-item-remove {
		display: none;
	}	
}

input[type='search'] {
	height: 2.5rem;
}
