.search-advanced-autocomplete-placeholder {
	> label {
		display: flex;
		cursor: pointer;
		justify-content: space-between;
		
		.elgg-icon {
			margin-right: 0.5rem;
		}
		
		> div {
			white-space: nowrap;
			overflow: hidden;
			
			&:last-child {
				margin-left: 0.5rem;
				text-overflow: ellipsis;
			}
		}
	}
}

.search-autocomplete {
	.elgg-autocomplete-item-remove {
		display: none;
	}
}

.search-advanced-inline-form [type='submit'] {
	display: inline-block;
}
